@font-face {
    font-family: "NanumSquareNeo-light";
    src: local("NanumSquareNeo-light"),
    url('/public/assets/fonts/NanumSquareNeo-light.ttf') format("truetype");
    
}
@font-face {
    
    font-family: "NanumSquareNeo-reqular";
    src: local("NanumSquareNeo-reqular"),
    url('/public/assets/fonts/NanumSquareNeo-reqular.ttf') format("truetype");
    
}
@font-face {
    
    font-family: "NanumSquareNeo-bold";
    src: local("NanumSquareNeo-bold"),
    url('/public/assets/fonts/NanumSquareNeo-bold.ttf') format("truetype");
}
@font-face {
    
    font-family: "NanumSquareNeo-extrabold";
    src: local("NanumSquareNeo-extrabold"),
    url('/public/assets/fonts/NanumSquareNeo-extrabold.ttf') format("truetype");
}
@font-face {
    
    font-family: "NanumSquareNeo-heavybold";
    src: local("NanumSquareNeo-heavybold"),
    url('/public/assets/fonts/NanumSquareNeo-heavybold.ttf') format("truetype");
}