html {
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

/* 웹킷 브라우저 (Chrome, Safari 등)용 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 스크롤 트랙 배경 투명 */
  border-radius: 10px; /* 모서리 둥글게 */
}

::-webkit-scrollbar-thumb {
  background-color: #484848; /* 스크롤 핸들 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
  background-clip: padding-box; /* 패딩 영역에만 색상 표시 */
  border: 2px solid transparent; /* 핸들 테두리 투명 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 호버 시 핸들 색상 */
}

/* Firefox용 */
* {
  scrollbar-width: thin; /* 스크롤바 얇게 설정 */
  scrollbar-color: #2f3542 transparent; /* 핸들 색상 및 트랙 투명 처리 */
}

.prose {
  --tw-prose-links: var(--color-primary) !important; /* primary 색상 적용 */
}
